@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url('./assets/fonts/Merriweather-Bold.ttf') format('ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('./assets/fonts/Merriweather-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
    url('./assets/fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --font-hero: 'Merriweather-Bold', sans-serif;
  --font-heading: 'Merriweather-Regular', sans-serif;
  --font-text: 'Raleway-Regular', sans-serif;

  --color-bg: #f3f4f6;
  --color-body: #ffffff;
  --color-heading: #1d2329;
  --color-text: #454b52;
  --color-link-hover-bg: #bababa36;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--color-body);
  color: var(--color-text);
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
