@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Arsenal';
  src: local('Arsenal Bold'), local('Arsenal-Bold'),
    url('./assets/fonts/Arsenal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --font-heading: 'Arsenal', sans-serif;
  --font-text: 'Poppins', sans-serif;

  --color-bg-section: #f3f4f6;
  --color-body: #ffffff;
  --color-heading: #1d2329;
  --color-text: #454b52;
  --color-link-hover-bg: #bababa36;
}

body {
  font-family: 'Arsenal', 'Poppins', sans-serif;
  background: var(--color-body);
  color: var(--color-text);
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
